.page-list-filters {
    padding-bottom: 32px;
}

.page-list-filters .clear {
    clear: both;
}

.page-list-filter {
    float: left;
    min-width: 150px;
}

.page-list-filter a.active {
    padding: 5px 10px;
    background: #000;
    border-radius: 5px;
    color: white !important;
}

#ajax-article-list {
    clear: both;
}